@font-face {
    font-family: 'soya_direct10';
    src: url('../assets/font/soya_direct10.ttf')  format('truetype');
}

$display-default:block;
$color-point:#080;
.lnk{
    display:$display-default;
    position:absolute;
    left:5px;
    color:$color-point;
}